www/wiki/soft/doc/articles/resources/customSearch.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2022 Herve Girod. All rights reserved.
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

 If you have any questions about this project, you can visit
 the project website at the project page on http://sourceforge.net/projects/docjgenerator/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">      
   <xs:complexType  name="customSearch">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="category" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" />
      <xs:attribute name="date" type="xs:string" />
      <xs:attribute name="defaultCategory" type="xs:string" />
      <xs:attribute name="includeArticles" type="xs:boolean" />      
   </xs:complexType>
   <xs:complexType name="category">
      <xs:attribute name="name" type="xs:string" use="required" />
   </xs:complexType>
   <xs:element name="customSearch" type="customSearch"/> 
</xs:schema>
