www/wiki/soft/doc/articles/resources/imageDef.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2017, 2021, 2023, 2024, 2025 Herve Girod. All rights reserved.
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

 If you have any questions about this project, you can visit
 the project website at the project page on http://sourceforge.net/projects/docjgenerator/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
   <xs:simpleType name="color">
      <xs:restriction base="xs:token">
         <xs:pattern value="#[0-9a-fA-F]{6}"/>
      </xs:restriction>
   </xs:simpleType>   
   <xs:simpleType name="size">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]+"/>
         <xs:pattern value="[0-9]+px"/>
         <xs:pattern value="[0-9]+%"/>
      </xs:restriction>
   </xs:simpleType>   
   <xs:simpleType name="marginType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="no"/>
         <xs:enumeration value="noMargin"/>
         <xs:enumeration value="small"/>
         <xs:enumeration value="large"/>
         <xs:enumeration value="false"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>     
   <xs:element name="images">
      <xs:complexType>
         <xs:choice maxOccurs="unbounded" minOccurs="0" >
            <xs:element name="category" type="category" />
            <xs:element ref="image" />
         </xs:choice>
         <xs:attribute name="version" type="xs:string" />
         <xs:attribute name="date" type="xs:string" />
      </xs:complexType>
   </xs:element>
   <xs:complexType name="category">
      <xs:choice maxOccurs="unbounded" minOccurs="0" >
         <xs:element name="category" type="category" />
         <xs:element ref="image" />
      </xs:choice>      
      <xs:attribute name="desc" type="xs:string" />
   </xs:complexType>   
   <xs:complexType name="image">
      <xs:attribute name="version" type="xs:string" />
      <xs:attribute name="date" type="xs:string" />
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="url" type="xs:anyURI" use="required" />
      <xs:attribute name="transparent" type="xs:boolean" />
      <xs:attribute name="transparentColor" type="color" />
      <xs:attribute name="desc" type="xs:string" />
      <xs:attribute name="width" type="size" />
      <xs:attribute name="height" type="size" />      
      <xs:attribute name="margin" type="marginType" />
   </xs:complexType>
   <xs:element name="image" type="image"/> 
</xs:schema>