www/wiki/soft/doc/articles/resources/package.xsd

<?xml version="1.0"?>
<!--
 Copyright (c) 2016, 2017, 2018, 2022, 2023 Herve Girod. All rights reserved.
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

 This library is free software; you can redistribute it and/or
 modify it under the terms of the GNU Lesser General Public
 License as published by the Free Software Foundation; either
 version 2.1 of the License, or (at your option) any later version.

 This library is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public
 License along with this library; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

 If you have any questions about this project, you can visit
 the project website at the project page on http://sourceforge.net/projects/docjgenerator/
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:include schemaLocation="general.xsd"/>
   <xs:element name="package">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="defaultImports" type="defaultImports" />
         </xs:sequence>
         <xs:attribute name="version" type="xs:string" />
         <xs:attribute name="date" type="xs:string" />
         <xs:attribute name="package" type="packageName" use="required" />
      </xs:complexType>
   </xs:element>
   <xs:complexType name="defaultImports">
      <xs:choice>
         <xs:element maxOccurs="1" minOccurs="1" name="allImports" type="allImports"/>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="import" type="import"/>
         </xs:sequence>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="allImports"/>
   <xs:complexType name="import">
      <xs:attribute name="package" type="packageName" />
   </xs:complexType>
</xs:schema>
